<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Ant Visualization"
            icon="icons/ant.gif"
            category="org.eclipse.ant.ui.views"
            class="org.ant_vis.views.AntView"
            id="org.ant_vis.views.AntView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.ant_vis.views.AntView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="Ant Visualizations">
            <visibleWhen>
               <reference
                     definitionId="org.ant_vis.expressions.is_xml">
               </reference>
            </visibleWhen>
            <separator
                  name="org.ant_vis.separator.PE">
            </separator>
            <command
                  commandId="org.ant_vis.commands.visInternal"
                  label="Internal"
                  style="push">
            </command>
            <command
                  commandId="org.ant_vis.commands.visExternal"
                  label="External"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
         <menu
               label="Ant Visualizations">
            <visibleWhen>
               <reference
                     definitionId="org.ant_vis.expressions.is_xml">
               </reference>
            </visibleWhen>
            <separator
                  name="org.ant_vis.separator.RN">
            </separator>
            <command
                  commandId="org.ant_vis.commands.visInternal"
                  label="Internal"
                  style="push">
            </command>
            <command
                  commandId="org.ant_vis.commands.visExternal"
                  label="External"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.ant_vis.views.AntView">
         <command
               commandId="org.ant_vis.commands.zoomIn"
               icon="icons/zoom_in.gif"
               style="push">
         </command>
         <command
               commandId="org.ant_vis.commands.zoomOut"
               icon="icons/zoom_out.gif"
               style="push">
         </command>
         <command
               commandId="org.ant_vis.commands.reload"
               icon="icons/reload.gif"
               style="push">
         </command>
         <command
               commandId="org.ant_vis.commands.linked"
               icon="icons/linked.gif"
               style="toggle">
         </command>
         <command
               commandId="org.ant_vis.commands.dummy"
               icon="icons/tree_mode.gif"
               id="org.ant_vis.layoutPulldown"
               label="Layout"
               style="pulldown">
         </command>
         <command
               commandId="org.ant_vis.commands.copyImage"
               icon="icons/copy_edit.gif"
               style="push">
         </command>
         <command
               commandId="org.ant_vis.commands.exportImage"
               icon="icons/export.gif"
               style="push">
         </command>
         <command
               commandId="org.ant_vis.commands.clear"
               icon="icons/clear.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.ant_vis.views.AntView">
         <command
               commandId="org.ant_vis.commands.reload"
               label="Reload"
               style="push">
         </command>
         <command
               commandId="org.ant_vis.commands.redraw"
               label="Redraw"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.ant_vis.layoutPulldown">
         <command
               commandId="org.ant_vis.commands.layoutChoice"
               label="HTree"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="htree">
            </parameter>
         </command>
         <command
               commandId="org.ant_vis.commands.layoutChoice"
               label="VTree"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="vtree">
            </parameter>
         </command>
         <command
               commandId="org.ant_vis.commands.layoutChoice"
               label="Spring"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="spring">
            </parameter>
         </command>
         <command
               commandId="org.ant_vis.commands.layoutChoice"
               label="Radial"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="radial">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.ant_vis.commands.VisInternal"
            id="org.ant_vis.commands.visInternal"
            name="Vis Internal">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.VisExternal"
            id="org.ant_vis.commands.visExternal"
            name="Vis External">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.Reload"
            id="org.ant_vis.commands.reload"
            name="Reload">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.Redraw"
            id="org.ant_vis.commands.redraw"
            name="Redraw">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.MoveCanvas$U"
            id="org.ant_vis.commands.moveUp"
            name="Move Up">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.MoveCanvas$D"
            id="org.ant_vis.commands.moveDown"
            name="Move Down">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.MoveCanvas$L"
            id="org.ant_vis.commands.moveLeft"
            name="Move Left">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.MoveCanvas$R"
            id="org.ant_vis.commands.moveRight"
            name="Move Right">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.ScaleCanvas$U"
            id="org.ant_vis.commands.scaleUp"
            name="Scale Up">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.ScaleCanvas$D"
            id="org.ant_vis.commands.scaleDown"
            name="Scale Down">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.ScaleCanvas$L"
            id="org.ant_vis.commands.scaleLeft"
            name="Scale Left">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.ScaleCanvas$R"
            id="org.ant_vis.commands.scaleRight"
            name="Scale Right">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.ZoomIn"
            id="org.ant_vis.commands.zoomIn"
            name="Zoom In">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.ZoomOut"
            id="org.ant_vis.commands.zoomOut"
            name="Zoom Out">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.OpenTarget"
            id="org.ant_vis.commands.openTarget"
            name="Open Target">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.Delete"
            id="org.ant_vis.commands.delete"
            name="Delete">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.DescriptionsToggle"
            id="org.ant_vis.commands.descriptionsToggle"
            name="Descriptions Toggle">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.Linked"
            id="org.ant_vis.commands.linked"
            name="Linked">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="org.ant_vis.commands.LayoutChoice"
            id="org.ant_vis.commands.layoutChoice"
            name="Layout">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="layoutName"
               optional="false">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:htree"
               id="org.eclipse.ui.commands.radioState">
         </state>
      </command>
      <command
            defaultHandler="org.ant_vis.commands.Dummy"
            id="org.ant_vis.commands.dummy"
            name="Dummy">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.ExportImage"
            id="org.ant_vis.commands.exportImage"
            name="Export Image">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.CopyImage"
            id="org.ant_vis.commands.copyImage"
            name="Copy Image">
      </command>
      <command
            defaultHandler="org.ant_vis.commands.Clear"
            id="org.ant_vis.commands.clear"
            name="Clear">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.ant_vis.expressions.is_xml">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.xml">
                  </test>
               </and>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.ant_vis.commands.reload"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5">
      </key>
      <key
            commandId="org.ant_vis.commands.redraw"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6">
      </key>
      <key
            commandId="org.ant_vis.commands.moveUp"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ARROW_UP">
      </key>
      <key
            commandId="org.ant_vis.commands.moveDown"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ARROW_DOWN">
      </key>
      <key
            commandId="org.ant_vis.commands.moveLeft"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ARROW_LEFT">
      </key>
      <key
            commandId="org.ant_vis.commands.moveRight"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ARROW_RIGHT">
      </key>
      <key
            commandId="org.ant_vis.commands.scaleUp"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_UP">
      </key>
      <key
            commandId="org.ant_vis.commands.scaleDown"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_DOWN">
      </key>
      <key
            commandId="org.ant_vis.commands.scaleLeft"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_LEFT">
      </key>
      <key
            commandId="org.ant_vis.commands.scaleRight"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_RIGHT">
      </key>
      <key
            commandId="org.ant_vis.commands.zoomIn"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAGE_UP">
      </key>
      <key
            commandId="org.ant_vis.commands.zoomOut"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAGE_DOWN">
      </key>
      <key
            commandId="org.ant_vis.commands.openTarget"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
      <key
            commandId="org.ant_vis.commands.delete"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DELETE">
      </key>
      <key
            commandId="org.ant_vis.commands.descriptionsToggle"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="D">
      </key>
      <key
            commandId="org.ant_vis.commands.exportImage"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="X">
      </key>
      <key
            commandId="org.ant_vis.commands.copyImage"
            contextId="org.ant_vis.views.AntView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.ant_vis.views.AntView"
            name="AntView Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ant_vis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ant.ui.AntPreferencePage"
            class="org.ant_vis.preferences.PreferencePage"
            id="org.ant_vis.preferences.PreferencePage"
            name="Visualization">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
